{% extends 'mainapp/base.html' %}

{% block title %}{{ "OutlayRT" }}{% endblock %}

{% block body_block %}


<div class="container">
        <div class="col-md-12">
        <h2>Expenses</h2>
        {% if expenses %}
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Amount ($)</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Edit</h2>
                </tr>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount|floatformat:2 }}</td>
                    <td>{{ expense.date }} </td>
                    <td>{{ expense.description }}</td>
                    <td><a href= {{ expense.expense_id }}><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
                {% endfor %}
            </table>
        
        {% else %}
            <strong>There are no expenses present.</strong>
        
        {% endif %}
        </div>
    </div>

{% endblock %}