{% extends 'mainapp/base.html' %}

{% block title %}{{ "OutlayRT" }}{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
        <h1>Welcome to your dashboard {{ user.username }}</h1>

     <h2>Your Expenses</h2><br />


    {% if expenses %}
        <ul>
            {% for expense in expenses %}
            <!-- Following line changed to add an HTML hyperlink -->
            <li>{{ expense.name }} : ${{ expense.amount }} on {{ expense.date }} ID: {{ expense.expense_id }}</li>
            <form id="edit_expense" method="post">
                {% csrf_token %}
                <input type="submit" name={{ expense.expense_id }} value="delete expense" />
            </form>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no expenses present.</strong>
    {% endif %}

    <h1>Add an Expense</h1>

    <form id="category_form" method="post" action="">

        {% csrf_token %}
        {% for hidden in expense_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in expense_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

        <input type="submit" name="expense" value="add expense" />
    </form>

    <h2> Your Macros </h2>
    {% if macros %}
        <ul>
            {% for key, value in macros.items %}
            <!-- Following line changed to add an HTML hyperlink -->
            <li>{{ key }} : {{ value }}</li>
            <form id="edit_expense" method="post">
                {% csrf_token %}
                <input type="submit" name={{ key }} value="delete macro" />
            </form>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Add a Macro</h1>

    <form id="category_form" method="post" action="">

        {% csrf_token %}
        {% for hidden in macro_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in macro_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }} {{ field }}
            
        {% endfor %}
        

        <input type="submit" name="macro" value="add macro" />
    </form>

{% endif %}

{% endblock %}