{% extends 'repo/base.html' %}

{% block title %}{{ repo_name }}{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>OutlayRT says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>OutlayRT says... hello world!</h1>
    {% endif %}
     <strong>Pick your repo</strong><br />


    {% if repos %}
        <ul>
            {% for repo in repos %}
            <!-- Following line changed to add an HTML hyperlink -->
            <li><a href="/repo/{{ repo.url }}">{{ repo.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no repos present.</strong>
    {% endif %}
{% endblock %}
       
    