{% extends 'mainapp/base.html' %}

{% block title %}{{ "OutlayRT" }}{% endblock %}

{% block body_block %}

<div class="container">
    {% if budget %}

    <h2>Budget: ${{ budget.budget|floatformat:2 }}</h2>
    

    <h1>Change budget</h1>
     <form id="budget_form" method="post" action="">
        {% csrf_token %}
        {% for hidden in budget_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in budget_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="budget" value="update" />
    </form>
    {% else %}
    <h1>Create budget</h1>
     <form id="budget_form" method="post" action="">
        {% csrf_token %}
        {% for hidden in budget_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in budget_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="budget" value="add budget" />
    </form>
    {% endif %}
</div>

{% endblock %}