{% extends 'mainapp/base.html' %}

{% block title %}{{ "OutlayRT" }}{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-4">
                <h2>CPD: {{ perday|floatformat:2 }}</h2>
                <h4>Add an Expense</h4>
                {% if expenses %}
                {% else %}
                <ul>
                    <li>Enter</li>
                    <li>utilities150</li>
                    <li>and click add</li>
                    <li>This is equivalent to a utilities expense of $150 dollars.</li>
                </ul>
                {% endif %}
                <form id="category_form" method="post" action="">

                    {% csrf_token %}
                    {% for hidden in expense_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in expense_form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" name="expense" value="add expense" />
                </form>
            </div>
            <div class="col-md-4">
                <h2>Macros</h2>
            {% if macros %}
                
                    {% for key, value in macros.items %}
                    <!-- Following line changed to add an HTML hyperlink -->
                    <h5 class="macro">{{ key }} = {{ value }}</h5>
                    <!--
                    <form id="delete_macro" method="post">
                        {% csrf_token %}
                        <input type="submit" name={{ key }} value="delete macro" />
                    </form>
                    -->
                    {% endfor %}
                </ul>
            {% else %}
                <a href="./macro">Add some macros</a>
                They make it easier for you to record your expenses!
                ex. u = utilities. Once you add this
            {% endif %}
            </div>
            <div class="col-md-4">
                <h2>Monthly Budget</h2>
                {% if budget %}
                    <h4>${{ budget.budget|floatformat:2 }}</h4>
                    <h5>Used so far month: ${{ used|floatformat:2 }}</h5>
                    <h5>Percentage used: {{ percentage|floatformat:2 }}%</h5>
                    <h5>Will reset on: {{ budget.latest_date }}</h5>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
        <h2>Expenses</h2>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Amount ($)</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Edit</h2>
                </tr>
        
            {% if expenses %}
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount|floatformat:2 }}</td>
                    <td>{{ expense.date }} </td>
                    <td>{{ expense.description }}</td>
                    <td><a href= {{ expense.expense_id }}><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td><a class="show_exp" href="./all_expenses">See all</a></td>
                    <!--
                        <a id="show_exp" begin="2" username={{ user.username }}> 1-10 </a>
                        <a class="show_exp" href="./which_expenses/11"> 11-20  | </a>
                        <a class="show_exp" href="./which_expenses/21"> 21-30  | </a>
                        <a class="show_exp" href="./which_expenses/31"> 31-40  | </a>
                        <a class="show_exp" href="./which_expenses/41"> 41-50  | </a>
                        <a class="show_exp" href="./all_expenses">See all</a>
                    </td>-->
                </tr>
            </table>
        
        {% else %}
            <strong>There are no expenses present.</strong>
        
        {% endif %}
        </div>
    </div>

{% endif %}

{% endblock %}