{% extends 'mainapp/base.html' %}

{% block title %}{{ "Expen$e" }}{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
    <div class="jumbotron">
        <div class="container">
        
            <div class="col-md-4">
                <h3>Macros</h3>
                {% if macros %}
                    {% for key, value in macros.items %}
                    <!-- Following line changed to add an HTML hyperlink -->
                    <h5 class="macro">{{ key }} = {{ value }}</h5>
                    {% endfor %}
                </ul>
                {% else %}
                    <a href="./macro">Add some macros</a>
                {% endif %}
            </div>
            <div class="col-md-4" style="text-align:center">
                <h3></h3>
                <form id="category_form" method="post" action="">
                    <div class="input-group ">
                        <span class="input-group-addon">+</span>
                        {% csrf_token %}
                        <input class="form-control" type="text" name="name" placeholder="expense"/>
                     </div>
                    <input style="display:none" type="submit" name="expense" value="Add" />
                </form>
            </div>
            <div class="col-md-4" style="text-align:right">
                <h3>Monthly Budget</h3>
                {% if budget %}
                    <h4>${{ budget.budget|floatformat:2 }}</h4>
                    <h5>Remaining: ${{ used|floatformat:2 }}</h5>
                    <h5>Percentage used: {{ percentage|floatformat:2 }}%</h5>
                    <h5>Will reset on: {{ budget.latest_date }}</h5>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
        <h2>Expenses</h2>
            
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Amount ($)</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Edit</h2>
                </tr>
        
            {% if expenses %}
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount|floatformat:2 }}</td>
                    <td>{{ expense.date }} </td>
                    <td>{{ expense.description }}</td>
                    <td><a href= {{ expense.expense_id }}><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <a class="show_exp" href="./all_expenses">See all</a>
                    </td>
                </tr>
            </table>
        
            {% else %}
            <strong>There are no expenses present.</strong>
        
            {% endif %}
        </div>
    </div>

{% endif %}

{% endblock %}