{% extends 'mainapp/base.html' %}

{% block title %}{{ "OutlayRT" }}{% endblock %}

{% block body_block %}

<div class="container">
{% if expense %}
    <h1>Update Expense</h1>

    <h3>{{ expense.name }} : ${{ expense.amount|floatformat:2 }} on {{ expense.date }} ID: {{ expense.expense_id }} Description: {{ expense.description }}</h3>
    
    <form id="category_form" method="post" action="">

        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon">+</span>
            <input class="form-control" type="text" name="name" placeholder="name"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" type="text" name="amount" placeholder="amount"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">+</span>
            <input class="form-control" type="date" name="date" placeholder="date"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">+</span>
            <input class="form-control" type="text" name="description" placeholder="description"/>
        </div>
        <input style="display:none" type="submit" name="expense" value="Update Expense" />
    </form>

    <form id="delete_expense" method="post">
        {% csrf_token %}
        <input type="submit" name={{ expense.expense_id }} value="delete expense" />
    </form>
{% else %}
    <div class="col-md-12">
        <h3>Your Expense has been deleted! Return to your dashboard</h3>
    </div>
{% endif %}
</div>


{% endblock %}