{% extends 'mainapp/base.html' %}

{% block title %}{{ "OutlayRT" }}{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <div class="col-md-4">
            <h3>How to use Macros</h3>
            <p>To add a macro, simply key in a letter followed by the name you want that
            letter to represent. For example, if you wanted to make a macro for groceries,
            enter ggroceries in the box on the right. Now whenever you want to
            ExpenSe a groceries for $15, you only have to enter g15 on the dashboard.</p>   
        </div>

        <div class="col-md-4">
            <h3></h3>
            <form id="category_form" method="post" action="">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">+</span>
                    <input class="form-control" type="test" name="value" placeholder="add macro"/>
                </div>
                <input style="display:none" type="submit" name="macro" value="update" />
            </form>
        </div>
        <div class="col-md-4" style="text-align:right">
            <h3>Your macros</h3>
            {% if macros %}
                <ul>
                {% for key, value in macros.items %}
                    <!-- Following line changed to add an HTML hyperlink -->
                    <li class="macro">{{ key }} = {{ value }} 
                        <form id="delete_macro" style="display:inline" method="post">
                            {% csrf_token %}
                            <input class="btn btn-default" type="submit" name={{ key }} value="delete" />
                        </form>
                     </li>
                    
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}